@{
    ViewData["Title"] = "KIGALI HMS";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn More about <a href="https://builder.bootstrapmade.com/demo/Clinic/index.html">Clinic</a>.</p>
</div>
