@{
    ViewData["Title"] = "KIGALI HMS";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn More about <a href="https://www.w3schools.com/cpp/default.asp"> How to code using W3school</a>.</p>
</div>
