@model HMS.Models.Contact
@{
    ViewData["Title"] = "Contact us";
}

<div class="row g-4">
    <div class="col-12 col-lg-8">
        <h2 class="mb-3">Contact Form</h2>

        @if (TempData["ContactSuccess"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["ContactSuccess"]
            </div>
        }

        <form asp-action="Contact" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Name</label>
                <input asp-for="Name" class="form-control" placeholder="Enter your name" required />
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email" required />
            </div>

            <div class="mb-3">
                <label asp-for="Message" class="form-label">Message</label>
                <textarea asp-for="Message" rows="4" class="form-control" placeholder="Write your message" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
    </div>
</div>
