@{
    ViewData["Title"] = "KIGALI HMS";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn More about <a href="https://www.w3schools.com/cpp/default.asp"> How to code using W3school</a>.</p>
    <div class="d-flex justify-content-center gap-2 mt-3">
        <a asp-controller="Home" asp-action="Customer" class="btn btn-primary">Customer</a>
        <a asp-controller="Home" asp-action="Contact" class="btn btn-outline-primary">Contact</a>
    </div>
</div>
